{%extends 'base.html'%}

{% block content %}
{{block.super}}

<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Shadows+Into+Light&display=swap" rel="stylesheet">

<style>
    #background {
        background-image: url('/static/conor-luddy-IVaKksEZmZA-unsplash.jpg');
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
    }
</style>
<div class="container" id="background">
    <div id="prog">
        <h1
            style="text-align:center; font-size:60px; font-family: 'Dancing Script', cursive; font-weight:bold; color:whitesmoke;">
            My-Gallery</h1>
    </div>
    <div id="opennote">

        <h3 style="text-align:center; color: whitesmoke;">Hey I'm Moryn,</h3>
        <p id="opennote"
            style="text-align:center; font-family: 'Dancing Script', cursive; font-size: 50px; color: whitesmoke;"> Welcome
            to
            My-Gallery</p>
    </div>
    </br>


    <div class="row">
        {% for location in locations %}

        <a class="btn btn-danger btn-md" id="btn" href="/location/{{location.name}}"
            style="font-size: 15px; text-align: center;">{{location.name}}</a>
        {%endfor%}

    </div>
    <br>

    <div class="row">
        {% for image in images %}
        <div class="col-md-4">
            <img src="{{image.image.url}}" alt="Image" class="img-thumbnail" data-toggle="modal"
                data-target="#{{image.id}}" width="350px" height="200px">
            <p style="color: white; font-size: 20px;">{{image.description}}</p>
            <!-- Modal -->
            <div id="{{image.id}}" class="modal fade" role="dialog">
                <div class="modal-dialog image">

                    <!-- Modal content-->
                    <div class="modal-content " style="background-color: rgb(44, 43, 43);">
                        <div class="modal-header">
                            <h4 class="modal-title" style="color: white">{{image.name}}</h4>
                            <button type="button" class="close" data-dismiss="modal"
                                style="color: white;">&times;</button>
                        </div>
                        <div class="modal-body">
                            <img src="{{image.image.url}}" alt="" class="img-thumbnail">
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-success btn-lg" data-toggle="modal"
                                data-target="#{{image.id}}-info"><i class="fas fa-info-circle"></i> Info</button>
                            <button type="button" class="btn btn-danger btn-lg" data-dismiss="modal"
                                style="border: 0.5px solid #b32c0b;">Close</button>
                        </div>
                    </div>

                </div>
            </div>